/* add your CSS here */

.seal {
   font-size: 30px;
   margin: 5px;
   padding: 5px;
}

.list {

   list-style: none;

   /*padding-left:0;*/
}

ul {
  padding: 0;
  list-style-type: none;
}

span {
	font-weight: bold;
}

.tile {
   width: 325px;
   border: 1px solid grey;
   box-shadow: 10px 10px 5px #888888;
   margin: 20px;
   padding: 10px;
}

.text {
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid grey;
    margin: 10px;
    width: 260px;
}

.image {
	width: 300px;
	margin: 10px;
}